In [9]:
import numpy as np
import pandas as pd

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data'

features = [
    'Account Status', 'Duration','Credit History','Purpose','Credit Amount','Savings',
    'Employment','Installment rate', 'Sex','Other debtors','Resicence',
    'Property', 'Age', 'Other installments','Housing','Number of credits', 'Job',
    'Maintenance', 'Telephone', 'Foreign', 'Target'
]

df = pd.read_csv(data_url, sep=" ", header=None, names=features)

#Attribute 1: Acccount status
account_status={'A14':"no",'A11':"<0", 'A12': "<200",'A13':">200"}
df["Account Status"]=df["Account Status"].map(account_status)

#A3: credit history
Credit_history={"A34":"critical account","A33":"delay in paying off","A32":"existing credits paid back duly till now",
    "A31":"all credits at this bank paid back duly","A30":"no credits taken"}
df["Credit History"]=df["Credit History"].map(Credit_history)

#A4: Purpose
Purpose={"A40" : "car (new)", "A41" : "car (used)", "A42" : "furniture/equipment", "A43" :"radio/television" , 
    "A44" : "domestic appliances", "A45" : "repairs", "A46" : "education", 'A47' : 'vacation',
    'A48' : 'retraining','A49' : 'business','A410' : 'others'}
df["Purpose"]=df["Purpose"].map(Purpose)

#A6: Savings account
Saving_account={"A65" : "no","A61" :"<100","A62" : "<500","A63" :"<1000", "A64" :">1000"}
df["Savings"]=df["Savings"].map(Saving_account)

#A7 Employment
Present_employment={'A75':10, 'A74':7,  'A73':4, 'A72':1,'A71':0}
df["Employment"]=df["Employment"].map(Present_employment)

#A9: Male=0, Female=1
sex={ 'A95':1,'A94':0,'A93':0, 'A92':1, 'A91':0}
df["Sex"]=df["Sex"].map(sex)

#A10
Other_debtors_guarantors={'A101':"none", 'A102':"co-applicant", 'A103':"guarantor"}
df["Other debtors"]=df["Other debtors"].map(Other_debtors_guarantors)

#A12
Property={'A121':"real estate", 'A122':"savings agreement/life insurance", 'A123':"car or other", 'A124':"no"}
df["Property"]=df["Property"].map(Property)

#A14
Other_installment_plans={'A143':"none", 'A142':"store", 'A141':"bank"}
df["Other installments"]=df["Other installments"].map(Other_installment_plans)

#A15
Housing={'A153':"for free", 'A152':"own", 'A151':"rent"}
df["Housing"]=df["Housing"].map(Housing)


#A17 Job
Job={'A174':"management/ highly qualified employee", 'A173':"skilled employee / official", 'A172':"unskilled - resident", 'A171':"unemployed/ unskilled  - non-resident"}
df["Job"]=df["Job"].map(Job)

#A19
Telephone={'A192':1, 'A191':0}
df["Telephone"]=df["Telephone"].map(Telephone)


#A20
foreign_worker={'A201':1, 'A202':0}
df["Foreign"]=df["Foreign"].map(foreign_worker)

#Target
risk={1:1, 2:0}
df["Target"]=df["Target"].map(risk)

df_d = pd.get_dummies(df)

In [10]:
df_d

,Duration,Credit Amount,Employment,Installment rate,Sex,Resicence,Age,Number of credits,Maintenance,Telephone,...,Other installments_bank,Other installments_none,Other installments_store,Housing_for free,Housing_own,Housing_rent,Job_management/ highly qualified employee,Job_skilled employee / official,Job_unemployed/ unskilled - non-resident,Job_unskilled - resident
0,6,1169,10,4,0,4,67,2,1,1,...,0,1,0,0,1,0,0,1,0,0
1,48,5951,4,2,1,2,22,1,1,0,...,0,1,0,0,1,0,0,1,0,0
2,12,2096,7,2,0,3,49,1,2,0,...,0,1,0,0,1,0,0,0,0,1
3,42,7882,7,2,0,4,45,1,2,0,...,0,1,0,1,0,0,0,1,0,0
4,24,4870,4,3,0,4,53,2,2,0,...,0,1,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,7,3,1,4,31,1,1,0,...,0,1,0,0,1,0,0,0,0,1
996,30,3857,4,4,0,4,40,1,1,1,...,0,1,0,0,1,0,1,0,0,0
997,12,804,10,4,0,4,38,1,1,0,...,0,1,0,0,1,0,0,1,0,0
998,45,1845,4,4,0,4,23,1,1,1,...,0,1,0,1,0,0,0,1,0,0
999,45,4576,0,3,0,4,27,1,1,0,...,0,1,0,0,1,0,0,1,0,0